<!doctype html>
<html>
<head>

    <title>About</title>
    <link href="site.css" rel="stylesheet">
</head>
 
<body>
 
<nav id="nav01"></nav>
 
<div id="main">
  <h1>About Me</h1>
  <hr noshade>
  <img src='C:\Users\yjm\djangogirls\blog\templates\blog\soyoung.jpg' height='30%' width='10%' border='1' align='left'>

  <big><strong><p>&nbsp;&nbsp;&nbsp;이름 : 남소영(南素英)</p>
  <p>&nbsp;&nbsp;&nbsp;출생 : 1993.10.6 청주 출생</p>
  <p>&nbsp;&nbsp;&nbsp;학적 : 청주 흥덕초등학교 졸업</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;청주 대성중학교 졸업</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;청주 충북여자고등학교 졸업</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;천안 한국기술교육대학교 3학년 재학</p></strong></big>

  <blockquote><p>저의 홈페이지를 찾아주신 여러분! 반갑습니다.</p>
  <p>홈페이지 주인 남소영입니다. </p>
  <p>부족하지만 열심히 만든 홈페이지에는 저에 대한 정보와</p>
  <p>R프로그램을 이용한 분석이 담겨 있습니다.</p>
  <p>재밌게 둘러보세요! 그럼 이만~</p></blockquote>

  <footer id="foot01"></footer>
</div>
 
<script src="script.js"></script>
 
</body>
</html>

